body {
  font-family: "Segoe UI", sans-serif;
}
h1, h3 {
  color: #444;
}
.card {
  border-radius: 10px;
}
.logo-navbar {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

@media (max-width: 576px) {
  .logo-navbar {
    height: 30px;
  }
}
/* Evita scroll/zoom con el dedo encima del canvas y define un tamaño visible */
#firma {
  width: 100%;
  max-width: 400px;   /* Ajusta a tu layout */
  height: 200px;      /* Alto visible en CSS */
  border: 1px dashed #bbb;
  border-radius: 8px;
  background: #fff;
  touch-action: none; /* Clave para que Pointer Events no hagan scroll/zoom */
  display: block;
}

/* Quitar flechas del input number en Chrome, Edge, Safari y Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.accordion-button {
    font-size: 1.2rem;
    font-weight: bold;
}
